<div class="row">

    

    <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
      <%#categories Image 1 %> 
      <div class="col-12 col-lg-6">
          <img src="/img/PinkPanther.svg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="PinkPantherLogo">
      </div>
      <div class="col-12 col-lg-6">
          <h1 class="display-5 fw-bold mb-3">About us</h1>
            <p class="lead">
            We are a team of developers from Polytechnic University of the Philippines, Computer Engineering Students that aims to integrate innovative ideas and competitively apply state of the art designs in our works. We provide to improve and supports our projects long-term.
            </p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#TeamCollapse" role="button" aria-expanded="false" aria-controls="TeamCollapse">Show more</a>

      </div>
      
    </div>

</div>


<div class="collapse" id="TeamCollapse">
  <div class="card card-body">
    <div class="aboutus_img_row ">
          <div class="aboutus_img_column aboutus_img">
              <img src="img/Yalung.jpg" alt="developers" style="width:100%">
              <p class="col text-center"> Yalung, Joshua A.</p>
              <p class="col text-center"> Project Manager</p>
          </div>
          <div class="aboutus_img_column aboutus_img">
                <img src="img/Bataller.jpg" alt="developers" style="width:100%">
                <p class="col text-center"> Bataller, Russel Ivan B.</p>
              <p class="col text-center"> Developer</p>
          </div>
          <div class="aboutus_img_column aboutus_img">
            <img src="img/Francisco.jpg" alt="developers" style="width:100%">
            <p class="col text-center"> Francisco, Stephanie L.</p>
            <p class="col text-center"> Designer</p>
          </div>
          <div class="aboutus_img_column aboutus_img">
            <img src="img/Navarossa.jpg" alt="developers" style="width:100%">
            <p class="col text-center"> Navarrosa, Francis Yvan G.</p>
            <p class="col text-center"> Quality Specialist</p>
          </div>                    
    </div>   
  </div>
</div>


<div class="row justify-content-center">
  <div class=" col-12 col-md-4">
    <br>
    <a class="btn btn-secondary"><i class="bi bi-facebook "></i> Facebook</a>
    <a class="btn btn-secondary"><i class="bi bi-twitter"></i> Twitter</a>
    <a class="btn btn-secondary"><i class="bi bi-instagram"></i> Instagram</a>
  </div>
</div>



