
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
      <h1 class="display-5 fw-bold">Contact Us</h1>
            <div class="box col-12 col-lg-6">
              <div class="contact-us-icon"><i class="bi bi-geo-alt-fill "></i></div>  
                <div class="text">
                    <h3>Address</h3>
                    <p>1016 Anonas, Sta. Mesa, Maynila, Kalakhang Maynila</p>
                  </div>
              
              <div class="contact-us-icon"><i class="bi bi-telephone-fill"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>(995) 353-7597</p>
                  </div>
                
              <div class="contact-us-icon"> <i class="bi bi-envelope-fill"></i></div>
                  <div class="text">
                      <h3>Email</h3>
                      <p>cblong75@typery.com</p>
                    </div>
              </div> 
              <div class="box col-12 col-lg-6">
                <img src="/img/myLogo.svg" width="400" height="400" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
              </div>

</div>


